 <div class="terms-box">[AEZEN]은(는) 아래와 같이 개인정보를 수집·이용하며, 이용자는 개인정보 수집 및 이용에 동의하지 않을 권리가 있습니다. 단, 필수 항목 미동의 시 서비스 이용이 제한될 수 있습니다.<br>
                1. 수집하는 개인정보 항목
                ① 필수항목
                이름(실명 또는 닉네임)
                아이디(ID)
                비밀번호
                이메일 주소
                휴대전화번호
                서비스 이용 기록, 접속 로그, 쿠키, 접속 IP 정보
                ② 선택항목
                프로필 이미지
                성별
                생년월일
                관심 분야
                ※ 선택항목은 입력하지 않아도 서비스 이용에 제한이 없습니다.<br>
                2. 개인정보의 수집 및 이용 목적
                회사는 다음 목적을 위해 개인정보를 수집·이용합니다.
                회원 가입 및 본인 확인
                서비스 제공 및 이용자 관리
                공지사항 전달 및 고객 문의 응대
                서비스 개선 및 이용 통계 분석
                부정 이용 및 비정상 활동 방지
                (선택) 맞춤형 서비스 제공 및 마케팅·광고 활용<br>
                3. 개인정보의 보유 및 이용 기간
                회사는 원칙적으로 개인정보 수집 및 이용 목적 달성 시 즉시 파기합니다.
                단, 아래의 경우 관련 법령에 따라 일정 기간 보존합니다.
                구분	보유 기간	관련 법령
                계약·청약철회 기록	5년	전자상거래법
                대금 결제 및 재화 공급 기록	5년	전자상거래법
                소비자 불만·분쟁 처리 기록	3년	전자상거래법
                접속 로그 등 서비스 이용 기록	3개월	통신비밀보호법
                (※ 서비스가 일반 커뮤니티이고 결제 기능이 없다면 5년 항목 삭제 가능)<br>
                4. 개인정보 수집·이용 동의 거부 권리 및 불이익 안내
                이용자는 필수 항목 처리에 대한 동의를 거부할 수 있습니다.
                단, 필수 항목 동의 거부 시 회원가입 및 기본 서비스 이용이 불가합니다.
                선택 항목 동의는 거부해도 서비스 이용에 제한이 없습니다.</div>