{% extends 'base.html' %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('account.static', filename='css/join_info.css') }}">
{% endblock %}

{% block content %}
<div class="posts">
  <div class="post">
    <h2>정보입력</h2>
    <form action="/join" method="POST">
      <label for="userid">아이디</label>
      <input type="text" id="userid" name="userid" required>
      <div id="userid-msg"></div> 

      <label for="password">비밀번호</label>
      <input type="password" id="password" name="password" required>
      
      <label for="confirm-password">비밀번호 확인</label>
      <input type="password" id="confirm-password" name="confirm-password" required>
      
      <label for="name">이름</label>
      <input type="text" id="name" name="name" required>   

      <label for="nickname">닉네임</label>
      <input type="text" id="nickname" name="nickname" required>
      <div id="nickname-msg"></div>   

      <label for="email">이메일</label>
      <input type="email" id="email" name="email" required>
      <div id="email-msg"></div>
      
      <!-- 관심분야 -->
      <div class="skill-tag-area">
        <label>관심분야</label>
        <div class="tag-box" id="interest-tags">
          <label class="tag">
            <input type="checkbox" name="interests" value="웹개발"> <span>웹개발</span>
          </label>
          <label class="tag">
            <input type="checkbox" name="interests" value="AI"> <span>AI</span>
          </label>
          <label class="tag">
            <input type="checkbox" name="interests" value="데이터분석"> <span>데이터분석</span>
          </label>
          <label class="tag">
            <input type="checkbox" name="interests" value="머신러닝"> <span>머신러닝</span>
          </label>
          <label class="tag">
            <input type="checkbox" name="interests" value="모바일개발"> <span>모바일개발</span>
          </label>
          <label class="tag">
            <input type="checkbox" name="interests" value="데이터베이스"><span>데이터베이스</span>
          </label>
        </div>

        <input 
            type="text" 
            id="interest-input" 
            placeholder="직접 입력 후 Enter" 
            class="tag-input"
            name="interests_manual"
        >

        <!-- 보유 기술 -->
        <label>보유 기술</label>
        <div class="tag-box" id="skill-tags">
          <label class="tag">
            <input type="checkbox" name="skills" value="Python"><span>Python</span>
          </label>
          <label class="tag">
            <input type="checkbox" name="skills" value="JavaScript"><span>JavaScript</span>
          </label>
          <label class="tag">
            <input type="checkbox" name="skills" value="Django"><span>Django</span>
          </label>
          <label class="tag">
            <input type="checkbox" name="skills" value="Node.js"><span>Node.js</span>
          </label>
          <label class="tag">
            <input type="checkbox" name="skills" value="C언어"><span>C언어</span>
          </label>
          <label class="tag">
            <input type="checkbox" name="skills" value="HTML/CSS"><span>HTML/CSS</span>
          </label>
          <label class="tag">
            <input type="checkbox" name="skills" value="Kotlin"> <span>Kotlin</span>
          </label>
          <label class="tag">
            <input type="checkbox" name="skills" value="SQL"><span>SQL</span>
          </label>
        </div>

        <input 
            type="text" 
            id="skill-input" 
            placeholder="직접 입력 후 Enter" 
            class="tag-input"
            name="skills_manual"
        >
      </div>      
      <div class="button-group">
        <button type="submit" disabled id="join">등록</button>
        <button type="reset">취소</button>
      </div>
    </form>
    </div>
  </div>
</div>

<script src="{{ url_for('account.static', filename='js/join-info.js') }}"></script>
{% endblock %}
