{% extends 'base.html' %}

<!-- 개별 css 불러오는 영역-->
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('mypage.static', filename='css/mypage-follow.css') }}">
{% endblock %}

<!-- 컨텐츠 넣는 영역 -->
{% block content %}
<div class="posts">
<!--------------------- 팔로우 패널  -------------------->
      <div id="follow-panel" class="content-panel">
        <div class="follow-wrapper">
          <div class="follow-tabs">
            <button class="tab-button active" data-target="following-list">팔로우(999)</button>
            <button class="tab-button" data-target="follower-list">팔로워(999)</button>
          </div>
          <!-- 팔로우 목록 -->
          <div id="following-list" class="follow-list">
            <div class="follow-item">
              <span class="nickname">프론트엔드 요정</span>
              <button class="follow-toggle following">팔로잉</button>
            </div>
            <div class="follow-item">
              <span class="nickname">프론트엔드 요정</span>
              <button class="follow-toggle following">팔로잉</button>
            </div>
          </div>
          <!-- 팔로워 목록 -->
          <div id="follower-list" class="follow-list hidden">
            <div class="follow-item">
              <span class="nickname">코딩 입문자</span>
              <button class="follow-toggle">팔로우</button>
            </div>
          </div>
        </div>
      </div>
	  </div>
	</div>
	
	

{% endblock %}