{% extends 'base.html' %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('mypage.static', filename='css/mypage-follow.css') }}">
<link rel="stylesheet" href="{{ url_for('mypage.static', filename='css/mypage.css') }}">
<style>
body::before {
    background-image: url("{{ url_for('mypage.static', filename=current_bg) }}");
}
</style>
<script src="{{ url_for('mypage.static', filename='js/mypage-follow.js') }}"></script>
{% endblock %}

{% block content %}
<div class="posts">

    <section id="panel-follow" class="content-panel">

        <div class="follow-tabs">
            <a href="/mypage-following" class="active">팔로우</a>
            <a href="/mypage-follower">팔로워</a>
        </div>

        {% for user in following_list %}
        <div class="follow-item">
            <span class="nickname">{{ user.nickname }}</span>
            <button class="follow-toggle following">팔로잉</button>
        </div>
        {% endfor %}

    </section>

</div>
</div>
{% endblock %}
