{% extends 'base.html' %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('mypage.static', filename='css/mypage-items.css') }}">
<link rel="stylesheet" href="{{ url_for('mypage.static', filename='css/mypage.css') }}">
<link rel="stylesheet" href="{{ url_for('mypage.static', filename='css/mypage-pointshop.css') }}">

{% endblock %}

{% block content %}
<div class="posts">

<section class="content-panel item-panel">
  <h2 class="panel-title">아이템 구매</h2>

  <!-- 필터 -->
  <div class="item-filter">
    <button class="filter-btn active" data-type="all">전체</button>
    <button class="filter-btn" data-type="icon">아이콘</button>
    <button class="filter-btn" data-type="background">배경이미지</button>

    <a href="{{ url_for('mypage.mypage_items') }}">
        <button id="btn-point-shop" class="tab-btn">내 아이템 관리</button>
    </a>
  </div>

  <!-- 구매 가능한 상품 목록 -->
  <div class="item-shop-list">

    {% for product in products %}
    <div class="item-card-shop" data-type="{{ product.item_type }}">

        <img src="{{ url_for('mypage.static', filename=product.item_img) }}">

        <div class="item-info-shop">
            <div class="name">{{ product.item_name }}</div>
            <div class="desc">{{ product.item_desc }}</div>
            <div class="price">{{ "{:,}".format(product.item_price) }} P</div>
        </div>

        <div>
            <button class="buy-btn" data-id="{{ product.item_no }}">
                구매
            </button>
        </div>

    </div>
    {% endfor %}

  </div>

</section>

</div>
</div>
<script src="{{ url_for('mypage.static', filename='js/mypage-pointshop.js') }}"></script>
{% endblock %}
