    </div>
    <!---- 컨테이너 끝 ---->
  </main>
  <!-------------------- 메인영역 끝---------------------->  
  
  <!---------------------- 푸터 -------------------------->
  <footer>
    <span>&copy; 2025 AEZEN. All Rights Reserved.</span>
    <a href="terms">이용약관</a>
    <a href="privacy">개인정보 처리방침</a>
    <a href="write/category=qna&target=admin">문의/신고</a>
  </footer>
  <!---------------------- 푸터 끝-------------------------->
  <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
  <script src="{{ url_for('static', filename='js/base.js') }}"></script>
</body>
</html>